

<style type='text/css'>
html,
body,
#map {
  width: 800px;
  height: 340px;
  position: relative;


}

</style>
<div style="width:100%; height:350px; position:relative; margin-top:90px;">
  <div id='map'></div>
</div>
<div style="width:100%; height:300px; position:relative;">
  <%= area_chart @data.group(:time).maximum(:ele), discrete: true%>
</div>
<div>
  <input class="get-markers" type="button" value="Get all the Markers" />
</div>
<script>

// Iniciando el Mapa

  L.mapbox.accessToken = 'pk.eyJ1Ijoibm9yZWxsYW5hIiwiYSI6ImNpbzR5emozNDAxcHJ2aWx6OHRoNHVzMWMifQ.NMjJ_fsTMlCCkzytqaV0LQ';

  var map = L.mapbox.map('map', 'mapbox.outdoors')
      .setView([<%=@center.lat%>, <%=@center.lon%>], 15);


// dibujando con polyline

  var line_points = [
  <%@data.each do |d|%>
    [<%=d.lat%>, <%=d.lon%>],
  <%end%>
];

  var polyline_options = {
    color: '#000'
};
// cargando polyline en el mapa
  var polyline = L.polyline(line_points).addTo(map);


// poniendo los markers ya creados
  <%@markers.each do |m|%>
    var db_marker = L.marker([<%=m.lat%>, <%=m.lon%>,]).addTo(map);

// para borrar markers
    db_marker.bindPopup('<%= link_to "Borrar", maps_destroy_path(:id => m.id, :track_id => m.track_id )%>');
  <%end%>

// Atachando en el map con el evento click
  map.on('click', onMapClick);

// Creando nuevos markers
  function onMapClick(e) {
    var geojsonFeature = {
      "type": "Feature",
      "properties": {},
      "geometry": {
      "type": "Point",
      "coordinates": [e.latlng.lat, e.latlng.lng]
    }

  }

//creando variables para mandar el post
  var latitude = e.latlng.lat;
  var longitude = e.latlng.lng;
  var track_id = <%=@id%>

// post para enviar markers al create
  $.ajax({
          url : "/maps/create",
          type : "post",
          data : { latlng: {latitude, longitude, track_id} }
      });

  var marker;

  L.geoJson(geojsonFeature, {

    pointToLayer: function(feature, latlng) {

      marker = L.marker(e.latlng, {

        title: "Resource Location",
        alt: "Resource Location",
        riseOnHover: true,
        draggable: false,

      });

      marker.on("popupopen", onPopupOpen);


      return marker;
    }
  }).addTo(map);
}

// para remover los makers
  function onPopupOpen() {

    var tempMarker = this;

    $(".marker-delete-button:visible").click(function() {
    map.removeLayer(tempMarker);
  });
}


</script>
